@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --white-filter: invert(99%) sepia(4%) saturate(5632%) hue-rotate(289deg) brightness(117%) contrast(100%); /* from black svg to white svg icon */

    --pri-color: #6DEB94;
    --pri-color-filter: invert(85%) sepia(31%) saturate(702%) hue-rotate(73deg) brightness(95%) contrast(94%);
    --pri-color-hover: #49b66c;

    --sec-color: #172131;

    --ter-color: #0E1321;
    --ter-color-hover: #12182B;

    --bg-color: #060B18;

    --stroke-color: #222E40;

    --text-color: #FFFFFF;
    --text-color-black: #000000;

    --sec-text-color: #6C7C94;

    --font-size-title: 2.625rem;
    --font-size-subtitle: 1.5rem;
    --font-size-xl: 2.5rem;
    --font-size-l: 2rem;
    --font-size-m: ;
    --font-size-s: ;
    --font-size-xs: ;
    --font-size: 1rem;

}

* { box-sizing: border-box; padding: 0; margin: 0; }
body { font-family: 'Outfit', sans-serif ;color: var(--text-color); background: var(--bg-color);}
body { background-image: url('/imgs/landing-bg-img.png'); background-repeat: no-repeat; background-size: contain;}