.mybet { border: 1px solid var(--stroke-color); background-color: var(--ter-color); border-radius: 10px; padding: 1rem .4rem; margin-bottom: 1.5rem;}
.mybetname { font-size: var(--font-size-m);}
.vl { border-left: 2.5px solid var(--white); height: 25px;}
.childbetname { font-size: var(--font-size-s);}

.chooseoptionname { background-color: var(--sec-color); border-radius: 5px; box-sizing: border-box; justify-content: space-around; padding: .5rem 1rem;}
.amount { background-color: var(--sec-color); border-radius: 5px; box-sizing: border-box; justify-content: space-around; padding: .5rem 1rem; color: var(--pri-color);}