/* Navbar */
.navbar { width:100%; display: flex; background-color: var(--bg-color); padding: 1rem 3rem; justify-content: space-between; align-items: center; border-bottom: 1px solid var(--stroke-color); position: sticky; z-index: 2;}
.navbar a { text-decoration: none; color: var(--white);}
.navbar a:hover { color: var(--pri-color); transition: .4s ease;}
.navbar .navlinks { display: flex; align-items: center; gap: 4rem;}
.navbar .links li { list-style: none; }
.navbar .navlinks .links li a { font-size: var(--font-size-s);}
.navbar { text-decoration: none; color: var(--white);}
.navbar .links { display: flex; text-decoration: none; gap: 4rem; margin-bottom: 0!important}