

.betSection { padding: 2rem 0;}
.betTitle { display: flex; flex-direction: column; margin-bottom: 2rem; gap: 1rem;}
.name { font-size: var(--font-size-l); }
.status { color: var(--sec-text-color); font-size: var(--font-size);}
.statusLive { background-color: var(--red-bg); display: inline-flex; align-items: center; border-radius: 5px; padding: .1rem .6rem; gap: .4rem;}
.statusLive .statusLiveSquare { margin-bottom: 0; font-size: var(--font-size); color: var(--text-color);}

.childBet { border: 1px solid var(--stroke-color); background-color: var(--ter-color); border-radius: 10px; gap: 1rem; margin-bottom: 1.5rem; padding: .8rem 1.2rem;}
.childName { font-size: var(--font-size); margin-bottom: .5rem;}
.childContainer { display: flex; flex-wrap: wrap; gap: 1rem; justify-content: space-between;}
.childSelection { background-color: var(--sec-color); border-radius: 5px; margin-bottom: .2rem; display: flex; flex-direction: row;
    flex: 0 0 calc(50% - .5rem); box-sizing: border-box; justify-content: space-around; padding: .5rem 0rem; cursor: pointer; border: none; }
.childSelection:hover { background-color: var(--sec-color-hover);}
.childSelection[disabled] { background-color: var(--stroke-color); }
.childSelection[disabled] .option, .childSelection[disabled] .odds  { color: var(--ter-color-hover); }
.childSelection[data-winner='true'] { background-color: var(--pri-color); }
.childSelection[data-winner='true'] .option, .childSelection[data-winner='true'] .odds { color: var(--ter-color);}
.odds { color: var(--pri-color); font-size: var(--font-size-xs);}
.option { font-size: var(--font-size-s); color: var(--text-color);} 

.betSectionNft { padding: 2rem 0;}
.betSectionNft .nftContainer { background-color: var(--bg-color); border: 1px solid var(--stroke-color); border-radius: 10px; padding: 1rem 2rem;}
.betSectionNft .matchMomentsText { font-size: var(--font-size-xm);}
.betSectionNft .imgContainer { width: 100%; height: 200px; background-position: 50% 50%; background-size: 280px; border: 1px solid var(--stroke-color); border-radius: 5px; margin-bottom: 1rem; }
.betSectionNft .imgContainer img { display: block; width: 100%; height: 100%; border-radius: 5px; }
.betSectionNft .rowNft { margin-top: 2rem;}
.topshotLogo { margin-bottom: 2rem;}

/* Pop up */
.popName { font-size: var(--font-size-m); margin-bottom: .4rem;}
.popCheck { filter: var(--pri-color-filter);}
.popOptionName { font-size: var(--font-size); display: inline-flex; align-items: center; gap: .5rem;}
.popMatchName { font-size: var(--font-size); color: var(--sec-text-color); margin-bottom: 1rem;}
.popInput { background-color: var(--ter-color); width: 100%; border-radius: 5px; border: 1px solid var(--stroke-color); padding: .4rem .8rem; background-color: var(--bg-color); color: var(--text-color);}
.popInput::placeholder { color: var(--text-placeholder-color)}
input.popInput::-webkit-outer-spin-button, input.popInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    outline: none;
}
input.popInput[type=number] {
     -moz-appearance: textfield;
     outline: none;
}
.popProfit { font-size: var(--font-size-s); color: var(--sec-text-color);}
.popButton { width: 100%; border: none; border-radius: 5px; padding: .6rem 1rem; background-color: var(--white); transition: 0.5s; margin-top: 1rem; }
.popButton:hover { background-color: var(--white-hover); }
.popButtonDis { width: 100%; border: none; border-radius: 5px; padding: .6rem 1rem; background-color: var(--stroke-color); transition: 0.5s; color: var(--ter-color); margin-top: 1rem;}