.betSection { padding: 2rem 0;}
.betTitle { display: flex; flex-direction: column;}
.name { font-size: var(--font-size-l); }
.status { color: var(--sec-text-color);}

.childBet { border: 1px solid var(--stroke-color); background-color: var(--ter-color); border-radius: 10px; gap: 1rem; margin-bottom: 1.5rem; padding: .8rem 1.2rem;}
.childName { font-size: var(--font-size); margin-bottom: .5rem;}
.childContainer { display: flex; flex-wrap: wrap; gap: 1rem; justify-content: space-between;}
.childSelection { background-color: var(--sec-color); border-radius: 5px; margin-bottom: .2rem; display: flex; flex-direction: row;
    flex: 0 0 calc(50% - .5rem); box-sizing: border-box; justify-content: space-around; padding: .5rem 0rem;}
.odds { color: var(--pri-color); font-size: var(--font-size-xs);}
.option { font-size: var(--font-size-s); color: var(--text-color);} 
