.timer { color: var(--sec-text-color); font-size: var(--font-size);}
.timerLive { background-color: var(--red-bg); display: inline-flex; align-items: center; border-radius: 5px; padding: .1rem .6rem; gap: .4rem;}
.timerLive .timerLiveSquare { margin-bottom: 0; font-size: var(--font-size); color: var(--text-color);}